src/index.jade
doctype html
html(larg='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='X-UA-Compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=pageTitle
        link(rel="stylesheet", href="css/main.css")
        //[if IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]
        //[if IE 9]><link rel="stylesheet" href="css/ie9.css"><![endif]
    body
        section
            .wrapper
                h1 LoremText
                .items
                    .item
                        img(src="/img/img1.jpg", width='120', height='120')
                        .subtitle Hose Di Lan Elion Diego Lanches
                        .job Front-End
                        .follow Follow
                    .item
                        img(src="/img/img2.jpg", width='120', height='120')
                        .subtitle Den Dier
                        .job Back-End
                        .follow Follow
                    .item
                        img(src="/img/img3.jpg", width='120', height='120')
                        .subtitle Lan Ballan
                        .job SEO
                        .follow Follow
                    .item
                        img(src="/img/img4.jpg", width='120', height='120')
                        .subtitle Danni Hope
                        .job Team Leader
                        .follow Follow

src/index.html
<!DOCTYPE html><html larg="en"><head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="X-UA-Compatible" content="IE=9"><meta name="viewport" content="width=device-width, initial-scale=1"><title></title><link rel="stylesheet" href="css/main.css"><!--[if IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]--><!--[if IE 9]><link rel="stylesheet" href="css/ie9.css"><![endif]--></head><body><section><div class="wrapper"><h1>LoremText</h1><div class="items"><div class="item"><img src="/img/img1.jpg" width="120" height="120"><div class="subtitle">Hose Di Lan Elion Diego Lanches</div><div class="job">Front-End</div><div class="follow">Follow</div></div><div class="item"><img src="/img/img2.jpg" width="120" height="120"><div class="subtitle">Den Dier</div><div class="job">Back-End</div><div class="follow">Follow</div></div><div class="item"><img src="/img/img3.jpg" width="120" height="120"><div class="subtitle">Lan Ballan</div><div class="job">SEO</div><div class="follow">Follow</div></div><div class="item"><img src="/img/img4.jpg" width="120" height="120"><div class="subtitle">Danni Hope</div><div class="job">Team Leader</div><div class="follow">Follow</div></div></div></div></section></body></html>
